/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  /* Basic styles */
body {
      font-family: Arial, sans-serif;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5a5f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.devTeam {
    border: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
  
header {
      background-color: #ff5a5f;
      color: white;
      padding: 10px 0;
}

.hiddenframe {
    border: none;
    width: 100%;
    height: 300px;
}

.headSection {
    text-align: center;
    padding: 100px 0;
}

.headSection h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.headSection p {
    font-size: 18px;
    margin-bottom: 30px;
}

.logo-small{
    width: 6rem;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.member-info {
    display:flex;
    align-items: center;
}

nav {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding:5px;
}
  
nav ul {
      list-style: none;
      display: flex;
}
  
nav ul li {
      margin: auto;
}

.nav-button {
    padding: 5px;
}

.nav-button :hover {
    outline-style: solid;
    outline-width: 1px;
    outline-color: white;
    background-color: #ffa29e;
}

.propertyTable {
    border: solid 3pt #473242;
    border-collapse: collapse;
    text-align: center;
}

.propertyTable td {
    border-top: solid 2pt #473242;
    border-bottom: solid 1pt #473242;
}

.propertyTable th {
    background-color: #473242;
    color: white;
    padding: 10px;
}
  
.reservation {
      padding: 20px 0;
      text-align: center;
}

.reservation button {
    background-color: #ff5a5f;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.reservation form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reservation h2 {
      font-size: 24px;
      margin-bottom: 20px;
}

.reservation input,
.reservation button {
      margin: 5px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
}

table {
    margin: 1rem auto;
}

td {
    padding: 0.5rem;
}

td img {
    height: 100px;
}